# dependencies
/node_modules
/.pnpm
/.yarn

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/scratch

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE & OS
.DS_Store
*.pem
.idea/
.vscode/

# Supabase CLI local
supabase/.temp/
supabase/.branches/

# Local UAT Artifacts
uat_testing_roadmap_step_by_step (1).pdf
